/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400i,700|Zilla+Slab:400i,500,600');


/* GLOBAL CSS */
 body, html {
  font-family: 'Zilla Slab', serif;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1.75;
margin: 0;
padding: 0;
max-width: 100%;
  overflow-x: hidden;
}



span {
color: #52E0AE;
}

.resource {
  background-color: #76BFB5;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-bottom:#52E0AE 5px solid;
}

.resource:hover {
  background-color:#56A3A6;
}
/*COLORS*/
.color-class {
  color: #E0E0E2;
  color:#76BFB5;
  color:#262D2E;
  color:#52E0AE;
  color:#56A3A6;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #262D2E;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #52E0AE;
}

/*Navbar Customization*/

  header .navbar {
    background-color: #262D2E;
    padding: 0;
    margin:0;
    border-bottom: #52E0AE 5px solid;
  }

  header .navbar-brand {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 36px;
    color: #E0E0E2
  }

  header li {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
  }

  header a {
    color: #E0E0E2;
  }






/* Hero CSS */

#particles-js {
  position: absolute;
  height: 500px;
  width: 100vw;
}

#hero {
  min-height: 500px;
  background-color: #E0E0E2;
  background: url(../img/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  position: relative;
  z-index: -1
}
#hero h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 100px;
    font-weight: 600;
    color: #262D2E;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.72);

}
#hero .row {
  margin-top: 100px;
}



/*About Me CSS*/

#about-me {
  min-height: 250px;
  z-index: 3;
}

#about-me h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 36px;
  font-weight: 500;
}

#about-me .progress-bar{
  background-color: #76BFB5;
  width: 10%;
}

#about-me .progress-bar-2{
  background-color: #56A3A6;
  width: 10%;
}

#about-me .progress-bar-3{
  background-color: #76BFB5;
  width: 10%;
}

#about-me .progress-bar-4{
  background-color: #56A3A6;
  width: 10%;
}

/*Portfolio Section*/

#portfolio {
  background-color: #262D2E;
  background: url('../img/portfoliobg.jpg') no-repeat;
  background-size: cover;
  min-height: 900px;
  z-index: 50;
}

#portfolio h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 36px;
  font-weight: 500;
  color: #E0E0E2;
}



#portfolio a img {
  width: 450px;
  height: 250px;
  border: #52E0AE 3px solid;
  -webkit-box-shadow: 5px 6px 55px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 6px 55px -6px rgba(0,0,0,0.75);
box-shadow: 5px 6px 55px -6px rgba(0,0,0,0.75);
}

#portfolio .row {
  margin-top: 30px;
}

#portfolio a {
  padding: 5%;
}

/*Modal CSS*/
.modal-title {
 font-family: 'Zilla Slab', serif;
  font-size: 32px;
  color: #262D2E;
}

.modal-header {
  background-color: #fff;
  border-top: #262D2E 25px  solid;
  border-bottom: #76BFB5 10px solid;
}

.modal-content {
    background-color: #fff;
    border-bottom: #262D2E 25px  solid;
}

.modal-img {
  width: 100%;
  height: 100%
}

.modal-body p {
  padding-top: 25px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  color: #262D2E;
}


/*Footer CSS*/

footer {
  background-color: #262D2E;
  width: 100vw;
  color: #E0E0E2;
  min-height: 50px;
}

footer p {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
